*{
    font-family: sans-serif;
}
html, body {
  height: 100vh; /* Ocupa toda la altura del viewport */
  margin: 0;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;
}
.profile-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-family: sans-serif;
  }
  
  h1 {
    color: #333;
    margin-bottom: 16px;
  }
  
  .profile-details {
    margin-bottom: 20px;
  }
  
  .profile-details p {
    font-size: 1.2em;
    color: #666;
    margin-bottom: 12px;
  }
  
  strong {
    font-weight: bold;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    margin-right: 10px;
  }
  
  .btn-secondary {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
  }
  
  .btn-secondary:hover {
    background-color: #007bff;
    border-color: #007bff;
  }
  