<div *ngIf="profile" class="profile-container">
    <h1>Perfil de Usuario</h1>
    <div class="profile-details">
      <p><strong>Nombre de Usuario:</strong> {{ profile.name }}</p>
      <p><strong>Email:</strong> {{ profile.email }}</p>
      <p><strong>Fecha de Creación:</strong> {{ profile.creationDate | date:'medium' }}</p>
    </div>
    
    <button [routerLink]="['/edit']" class="btn btn-secondary">Editar Perfil</button>
    <button (click)="logout()" class="btn btn-secondary">Cerrar Sesión</button>
  </div>
  