<main class="confirmacion-compra">
  <h1>Confirmación de Compra</h1>

  <div *ngIf="cartItems.length > 0; else emptyCart" class="card">
    <div *ngFor="let item of cartItems" class="mb-3">
      <h2>{{ item.nombre }}</h2>
      <p>Fecha: {{ item.fecha }}</p>
      <p>Lugar: {{ item.lugar }}</p>
      <p>Cantidad: {{ item.cantidadEntradas }}</p>
      <p>Precio unitario: {{ item.precio }} Bs</p>
      <p>Precio total: {{ item.precioTotal }} Bs</p>
    </div>

    <h3>Total a pagar: {{ totalCarrito }} Bs</h3>

    <div class="mb-3">
      <label for="metodoPago" class="form-label">Seleccione el método de pago:</label>
      <select id="metodoPago" class="form-select" [(ngModel)]="metodoPago">
        <option value="tarjeta">Tarjeta</option>
        <option value="qr">QR</option>
      </select>
    </div>

    <div *ngIf="metodoPago === 'qr'" class="mb-3">
      <label for="comprobante" class="form-label">Adjunte el comprobante de pago:</label>
      <input type="file" class="form-control" (change)="onFileSelected($event)" required />
      <div *ngIf="!comprobante" class="text-danger">
        <p>Es necesario adjuntar un comprobante de pago para finalizar la compra.</p>
      </div>
    </div>

    <button class="btn" (click)="confirmarCompra()" [disabled]="!comprobante">Confirmar Compra</button>
  </div>

  <ng-template #emptyCart>
    <div class="alert">
      El carrito está vacío.
    </div>
  </ng-template>
</main>
