@import '../../../styles.scss'; // Importa las variables de colores

body {
  font-family: 'Poppins', sans-serif;
  position: fixed;
  margin-bottom: 0;
}

.footer {
  background-color: $color-secondary;
  color: $color-white;
  padding: 20px 0;
  text-align: center;
  font-family: 'Poppins', sans-serif; // Aplicar la tipografía

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }

  p {
    margin: 0;
    font-size: 1rem;
    color: $color-white;

    a {
      color: $color-primary;
      text-decoration: none;
      transition: color 0.3s;

      &:hover {
        color: lighten($color-primary, 20%);
      }
    }
  }
}
