* {
  font-family: sans-serif;
}

.evento-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.evento-detalle {
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  width: 60%;
  height: calc(100vh - 200px); /* La altura será el 100% del viewport menos 200px */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: auto; /* Permitir el desplazamiento si el contenido excede la altura */
}
.btn-add-cart {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  margin-top: 20px;
}

.btn-add-cart:hover {
  background-color: #218838;
  transform: scale(1.05);
}

.btn-added {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

.btn-remove {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  margin-top: 20px;
}

.btn-remove:hover {
  background-color: #c82333;
  transform: scale(1.05);
}
