<div class="evento-container" *ngIf="evento">
  <div class="evento-detalle">
    <h1>{{ evento.name }}</h1>
    <img [src]="evento.imageUrl" alt="{{ evento.name }}">
    <p>{{ evento.description }}</p>
    <p><strong>Fecha:</strong> {{ evento.date | date:'medium' }}</p>
    <p><strong>Lugar:</strong> {{ evento.location }}</p>
    <button 
      [ngClass]="{'btn-added': evento.addedToCart, 'btn-add-cart': !evento.addedToCart}"
      (click)="addToCart(evento)" 
      [disabled]="evento.addedToCart">
      {{ evento.addedToCart ? 'Añadido' : 'Añadir al carrito' }}
    </button>
  </div>
  <app-recomendaciones [category]="evento.category"></app-recomendaciones>
</div>
<div *ngIf="!evento">
  <p>Cargando detalles del evento...</p>
</div>
