<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mi Carrito</title>
</head>
<body>
  <div class="cart-container">
    <h2>Mi Carrito</h2>
    <div *ngIf="cartItems.length > 0; else emptyCart">
      <div *ngFor="let item of cartItems" class="cart-item">
        <div class="cart-item-header">
          <h5>{{ item.nombre }}</h5>
          <button (click)="removeItem(item.eventoId)" class="btn-remove">✖</button>
        </div>
        <p><strong>Cantidad de entradas:</strong> 
          <input type="number" [(ngModel)]="item.cantidadEntradas" (change)="updateQuantity(item.eventoId, item.cantidadEntradas)" min="1"/>
        </p>
        <p class="precio"><strong>Precio Total:</strong> {{ item.precioTotal }} Bs</p>
      </div>
      <div class="total-carrito">
        <p><strong>Total del Carrito:</strong> {{ totalCarrito }} Bs</p>
      </div>
      <button (click)="clearCart()" class="btn btn-danger">Vaciar Carrito</button>
      <button (click)="irACheckout()" class="btn btn-primary">Ir a pagar</button>
    </div>
    <ng-template #emptyCart>
      <p>No hay elementos en el carrito.</p>
    </ng-template>
  </div>
</body>
</html>
