<!-- Filtro de categorías -->
<div class="filter-container">
  <select id="category-select" (change)="filterByCategory($event)">
    <option value="">Todas las categorías</option>
    <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
  </select>
  
  <!-- Filtro de lugares -->
  <select id="location-select" (change)="filterByLocation($event)">
    <option value="">Todos los lugares</option>
    <option *ngFor="let location of locations" [value]="location">{{ location }}</option>
  </select>
</div>

<!-- Lista de eventos filtrados -->
<div *ngIf="filteredEventos.length > 0" class="cards-container">
  <div *ngFor="let evento of filteredEventos" class="card">
    <img class="card-img-top" [src]="evento.imageUrl || 'default-image.jpg'" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{ evento.name }}</h5>
      <p class="card-text">{{ evento.description }}</p>
      <p class="card-text"><strong>Fecha:</strong> {{ evento.date | date:'medium' }}</p>
      <p class="card-text"><strong>Lugar:</strong> {{ evento.location }}</p>
      <p class="card-text"><strong>Categoría:</strong> {{ evento.category }}</p>
      <button [routerLink]="['/evento', evento.id!]" class="btn btn-info">Ver más</button>
      <button (click)="addToCart(evento)" class="btn btn-primary">Añadir al Carrito</button>
    </div>
  </div>
</div>
<div *ngIf="filteredEventos.length === 0">
  <p>No hay eventos disponibles.</p>
</div>
